.nav {
    grid-area       : n;
    background-color: darksalmon;
    padding: 20px;
}

.item {
    color: white;
    font-size: 25px;
}

.item.active {
    color: tomato;
}

.item a {
    text-decoration: none;
    color: white;
}

.item a:visited {
    color: white;
}

.item a:hover {
    text-decoration: underline;
}